# **Práctico 3**

## **1° Parte.** Ciclos `while`

**Ejercicio 1.** Si se ingresa 7 como dividendo y 3 como divisor ¿cuántas veces se repite la ejecución del cuerpo del while en el programa siguiente? ¿Y si los números fueran 48 y 9?

In [ ]:
def cociente(num, div: int) -> int:
   """
   pre: num >= 0 and div >= 1
   post: devuelve el cociente de la división de num por div
   """
   coc, resto = 0, num
   while div <= resto:
       coc, resto = coc + 1, resto - div
   return coc

**Ejercicio 2.** ¿Qué ocurre con la función `cociente()` del ejercicio 1 si `num` es negativo y `div` positivo? ¿Y si `num` es positivo y `div` negativo? ¿Y si ambos son negativos?

**Ejercicio 3.** Escribir en la siguiente celda de código una función que determina si un número entero dado es primo o no.

In [ ]:
print(es_primo(23))
print(es_primo(12))

**Ejercicio 4.** Escribir en la siguiente celda de código una función que dado un número entero mayor igual que $2$ devuelve su factor primo más pequeño.

In [ ]:
print(factor_pequeno(17))
print(factor_pequeno(12))
print(factor_pequeno(161))

**Ejercicio 5.** Escribir en la siguiente celda de código una función que dado un número entero imprime todos sus factores primos en orden creciente.

In [ ]:
factores_primos(2)
factores_primos(8)
factores_primos(30)
factores_primos(37)

**Ejercicio 6.** Escribir en la siguiente celda de código una función que dado un número entero positivo devuelve su máximo divisor propio (propio = que no sea el mismo número).

In [ ]:
print(max_div_propio(7))
print(max_div_propio(12))
print(max_div_propio(27))

**Ejercicio 7.** Escribir en la siguiente celda de código una función que devuelve la raíz cuadrada entera de un número entero no negativo dado $n$. La raíz cuadrada entera de $n$, es el número entero $k$ tal que $k^2 \le n < (k+1)^2$. No se debe utilizar la función `sqrt()` ni potencias fraccionarias.

In [ ]:
print(raiz_cuadrada_entera(4)) # 2
print(raiz_cuadrada_entera(7)) # 2
print(raiz_cuadrada_entera(18)) # 4
print(raiz_cuadrada_entera(25)) # 5

**Ejercicio 8.** Escribir en la siguiente celda de código una función que calcula el máximo común divisor de dos números naturales positivos dados.

In [ ]:
print(mcd(5, 14))
print(mcd(2, 6))
print(mcd(8, 24))
print(mcd(18, 24))
print(mcd(19, 17))
# print(mcd(195654654656356356, 17563563563563677865465635)) # correr esta linea puede tardar mucho

**Ejercicio 9.** Escribir en la siguiente celda de código una función que  solicita el ingreso de una respuesta `s` o `n` (por “sí” o “no”? y que ante una respuesta diferente reporta un error y vuelve a solicitar se ingrese  `s` o `n` y sigue de esta manera hasta que finalmente se ha ingresado  `s` o `n`. La función devuelve lo último ingresado.

In [ ]:
si_o_no()

**Ejercicio 10.**  Escribir en la siguiente celda de código una función que devuelve los valores de la siguiente función:
$$
f(0) = 1,  \qquad f(n) = 2\cdot f(n-1) + n^2\quad \text{si $n\ge 1$}
$$

In [ ]:
print(f(0))
print(f(1))
print(f(2))
print(f(3))

**Ejercicio 11.**  Escribir en la siguiente celda de código una función que devuelve los valores de la siguiente función:
$$
f(0) = 5,  \qquad f(n) = \frac12\cdot f(n-1)^2 + 2n\quad \text{si $n\ge 1$}
$$

In [ ]:
print(f(0))
print(f(1))
print(f(2))
print(f(3))

**Ejercicio 12.**  Escribir en la siguiente celda de código una función que devuelve los valores de la siguiente función:
$$
 f(n) = \sum_{i=1}^{n} 2\cdot \operatorname{log}(i) + n\quad \text{si $n\ge 1$}
$$

In [ ]:
print(f(1)) # 1.0
print(f(2)) # 2.6020599913279625
print(f(5)) # 9.15836249209525
print(f(10)) # 23.11952606575359

**Ejercicio 13.**  Escribir en la siguiente celda de código una función que devuelve los valores de la siguiente función:
$$
 \sum_{k=0}^n k^2 a^k  \quad \text{si $n\ge 0, a \in \mathbb R$.}
$$
En  este caso la función debe depender de dos parámetros: $n$ de tipo `int` y $a$ de tipo `float`.

In [ ]:
n = 10
print(f(n, 1) == n*(n + 1)*(2*n + 1) // 6) # \sum_{k=0}^n k**2 = n*(n + 1)*(2*n + 1) // 6
print(f(5, 2))
print(f(8, -1.5))

**Ejercicio 14.** Sea $\{a_n\}_{n\in\mathbb N_0}$ la sucesión definida recursivamente por

$$\begin{cases}
a_0=1, \\a_1=2, \\a_{n} = \operatorname{log}(3n)a_{n-1}+(n-1)(n-3)a_{n-2}, \text{ para $n\geq 2$}.
\end{cases}$$

Escribir en la siguiente celda de código una función `f` que implemente la sucesión (es decir `f(n)` $= a_n$).

In [ ]:
print(f(0)) # 1
print(f(1)) # 2
print(f(2)) # 0.5563025007672873

**Ejercicio 15.** Sea $\{a_n\}_{n\in\mathbb N_0}$ la sucesión definida recursivamente por

$$\begin{cases}
   a_0=0, \\a_1=7, \\a_{n} = 5a_{n-1}+(1/2)^na_{n-2}, \text{ para $n\geq 2$}.
  \end{cases}$$

Escribir en la siguiente celda de código una función que implemente la sucesión.

In [ ]:
print(f(0)) # 0
print(f(1)) # 7
print(f(2)) # 10.25
print(f(3)) # 51.5
print(f(4)) # 258.140625

## **2° Parte.** Días, fechas y años

**Ejercicio 16.**  Escribir en la siguiente celda de código una función que  reciba una fecha (tres parámetros: día, mes y año) y devuelva el número de días a de la era moderna hasta ese día. Es decir, si le paso como fecha 1/1/1 me devuelve 1. Si le paso como fecha 31/12/1 devuelve 365. Si le paso 1/1/2 devuelve 366. Si le paso como fecha 4/7/1995, devuelve 728478. Si le paso 15/4/2020 devuelve 737530.

In [ ]:
print(numero_dias(1, 1, 1)) # 1
print(numero_dias(31, 12, 1)) # 365
print(numero_dias(1, 1, 2)) # 366
print(numero_dias(4, 7, 1995)) # 728478
print(numero_dias(15, 4, 2020)) # 737530

**Ejercicio 17.** Escribir en la siguiente celda de código una función que reciba una fecha (tres parámetros) y devuelve una cadena de caracteres: `lunes` o `martes` o `miércoles` o ... o `domingo`.

In [ ]:
print(dia_semana(16,4,2024)) # martes
print(dia_semana(26,4,2024)) # viernes
print(dia_semana(1,1,1)) # lunes
print(dia_semana(3,3,2004)) # miércoles

**Ejercicio 18.** Escribir en la siguiente celda de código un programa que solicita que se ingrese la fecha e imprima el día de la semana.

**Ejercicio 19.** Escribir en la siguiente celda de código una función que dado un número de días a contar a partir del 31/12/añocero devuelve una terna dia/mes/año. Por ejemplo, si lo llamo con 728478 devuelve 4/7/1995. Si le paso 737530 me devuelve 15/4/2020.

In [ ]:
print(fecha_x_numero_dias(1)) # 1/1/1
print(fecha_x_numero_dias(365)) # 31/12/1
print(fecha_x_numero_dias(1+365)) # 1/1/2
print(fecha_x_numero_dias(1+365+365)) # 1/1/3
print(fecha_x_numero_dias(1+365+365+365)) # 1/1/4
print(fecha_x_numero_dias(1+365+365+365+365)) # 31/12/4
print(fecha_x_numero_dias(1+365+365+365+365+1)) # 1/1/5
print(fecha_x_numero_dias(728478)) # 4/7/1995
print(fecha_x_numero_dias(737530)) # 15/4/2020

**Ejercicio 20.** Escribir en la siguiente celda de código una función que dada una fecha (`dia`, `mes`, `año`) y un número positivo `n` de días, devuelve la fecha que queda `n` días después de la fecha dada. Por ejemplo, si le paso `15`, `4`, `2020` y `1` devuelve `16`, `4`, `2020`. Si le paso `4`, `7`, `1995` y `9052`devuelve `15`, `4`, `2020`.

In [ ]:
def fecha_dif_dias(dia, mes , año, n):
    nro_dias_fecha = numero_dias(dia, mes ,año) + n
    return fecha_x_numero_dias(nro_dias_fecha)

In [ ]:
print(fecha_dif_dias(15, 4, 2020, 1)) # (16, 4, 2020)
print(fecha_dif_dias(4, 7, 1995, 9052)) # (15, 4, 2020)

**Ejercicio 21.** Escribir en la siguiente celda de código una función que dadas dos fechas devuelve la cantidad de días que las separa.

In [ ]:
print(dif_dias_fechas(15, 4, 2020, 16, 4, 2020)) # 1
print(dif_dias_fechas(4, 7, 1995, 15, 4, 2020)) # 90952